{% extends 'base.html' %}
{% block content %}
<h2>Itens</h2>
<form method="post">
  <input name="codigo" placeholder="Código" required>
  <input name="descricao" placeholder="Descrição">
  <input name="apresentacao" placeholder="Apresentação">
  <input name="marca" placeholder="Marca">
  <input name="tipo" placeholder="Tipo">
  <button type="submit">Cadastrar</button>
</form>
<table class="table">
  <tr>
    <th>Código</th>
    <th>Descrição</th>
    <th>Apresentação</th>
    <th>Marca</th>
    <th>Tipo</th></tr>
  {% for i in itens %}
  <tr>
    <td>{{ i[1] }}</td>
    <td>{{ i[2] }}</td>
    <td>{{ i[3] }}</td>
    <td>{{ i[4] }}</td>
    <td>{{ i[5] }}</td>
    <td>
      <a href="?delete={{ i[0] }}">Excluir</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

